<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preset</title>
    <link rel="stylesheet" href="./style.scss">
    <link rel="stylesheet" href="/components/header/style.scss">
    <link rel="stylesheet" href="/components/footer/style.scss">
</head>

<body>

    <div class="main_contener">

        <div class="prseta__flex__cont">
            <div class="left__box">

                <div class="left_poster_main_box">
                    <div class="poster__left__box">
                        <img width="100%" src="/public/poster_prset.png" alt="">
                    </div>

                    <div class="num_stars_box">
                        <p>(10)</p><img src="/public/stars (2).png" alt="">
                    </div>
                </div>
                <h3>Информация:</h3>
                <div class="publick_title_flex">
                    <p>Опубликовано</p>
                    <p>08.02.2024</p>
                </div>
            </div>


            <div class="right__box">
                <div class="head_top">
                    <h4>ARTIST STARTER KIT</h4>
                    <div class="price_basket_like_box">
                        <p>$35,00</p>
                        <button class="basket__btn">В корзину</button>
                        <div class="heard_elem"><img src="/public/heard.png" alt=""></div>
                        <div class="share_elem"><img src="/public/podelitsa.png" alt=""></div>
                    </div>
                </div>

                <div class="playe__box">
                    <div class="player__item"><img src="/public/Polygon 1.png" alt=""></div>
                    <div class="bit__item"><img width="100%" src="/public/bit.png" alt=""></div>
                </div>


                <div class="avtor__box__flex">
                    <div class="left__avtor__descr">
                        <div class="avtor_name general_sty">Автор: #Dushka_0w0</div>
                        <div class="co__authors general_sty">Соавторы: -</div>
                    </div>

                    <div class="right__program__security">

                        <div class="first_security_block">
                            <p>Программное обеспечение:</p>
                            <div class="inp__text"><input type="radio" name="one" id="one">Logic Pro</div>
                            <div class="inp__text"><input type="radio" name="one" id="one">FL Studio</div>
                        </div>
                        <div class="second_security_block">
                            <div class="inp__text"><input type="radio" name="one" id="one">Studio One Pro</div>
                            <div class="inp__text"><input type="radio" name="one" id="one">Pro Tools</div>
                            <div class="inp__text"><input type="radio" name="one" id="one">Ableton</div>
                        </div>
                    </div>
                </div>

                <div class="tags__box">
                    <h5>Теги:</h5>
                    <div class="tags__btns__box">
                        <button class="tag_btn">Solid</button>
                        <button class="tag_btn">Creative</button>
                        <button class="tag_btn">Wide</button>
                        <button class="tag_btn">Sad</button>
                    </div>
                </div>
                <hr class="hr">

                <div class="comments__box">
                    <h5>Комментарии:</h5>

                    <div class="gravatar__input__flex">
                        <div class="gravatar"><img src="/public/gravatar.png" alt=""></div>
                        <div class="input__case__btn"><input type="text" placeholder="Поделитесь своими мыслями"> <button class="inp__btn">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <footer></footer>
    <script src="/components/footer/index.js"></script>
    <script src="/components/header/index.js"></script>
    <script src="./index.js"></script>
</body>

</html>