* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 30px 50px;

}

header h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.acount_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.acount_box img {
    cursor: pointer;
}